main {
    padding-bottom: 200px !important;
}

.desc {
    margin-top: 20px;
    font-size: 16px;
    color: #000;
}

.desc .desc-head {
    padding: 10px 0 20px 0;
    font-size: 18px;
}

.desc .desc-content p + p {
    margin-top: 10px;
}

/**
 * Query
 */
@media (min-width: 1024px) {
    .form-outer {
        float: left;
        padding-bottom: 40px;
        width: 60%;
    }
    .desc {
        float: right;
        display: inline-block;
        width: 40%;
        margin-top: 40px;
    }
}