/**
 * Common@Admin
 */
section {
    margin-top: 40px;
}

section h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

section .datas {
    background-color: #255481;
    padding: 10px 20px;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.75);
}

section .datas .add-panel {
    margin-top: 10px;
}

section .datas .block {
    display: inline-block;
    float: left;
}

section .datas .id {
    width: 6%;
}
section .datas .gender,
section .datas .active {
    width: 10%;
}

section .datas .name {
    width: 20%;
}
section .datas .email {
    width: 35%;
}
    
/**
 * Users-head@Admin
 */
section .datas .data-head {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    background: url('/assets/img/rbctophalf.png') top right \no-repeat;
    background-color: #3c3c3c; 
    width: calc( 100% + 40px );
    transform: translateX(-20px);
    padding: 0 20px;
    -webkit-box-shadow: inset 0px 0px 20px 0px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0px 0px 20px 0px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0px 0px 20px 0px rgba(255, 255, 255, 0.3);
}

/**
 * Users-content@Admin
 */
section .data-content {
    padding: 10px 0;    
}

section .datas .data-row {
    height: 30px;
    line-height: 30px;
    background-color: #f1f1f1;
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(50, 50, 50, 0.4);
    -moz-box-shadow: inset 0px 0px 10px 0px rgba(50, 50, 50, 0.4);
    box-shadow: inset 0px 0px 10px 0px rgba(50, 50, 50, 0.4);
    color: #000;
    width: calc( 100% + 40px );
    transform: translateX(-20px);
    padding: 0 20px;
    cursor: pointer;
    border: 1px solid transparent;
    border-left-color: #000;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    position: relative;
}

section .datas .data-row:hover {
    border: 1px solid #000;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
}

section .datas .data-row + .data-row {
    margin-top: 2px;
}

section .datas .data-row:nth-of-type(2n+2) {
    background-color: #b7b7b7;
}

/**
 * User-control-panel@Admin
 */
section .data-content .controls div {
    display: inline-block;    
}


section .data-content .controls .edit {
    background-color: transparent;
    padding: 0;
    height: 30px;
    min-width: 0;
    padding: 0 3px;
}

section .data-content .controls .edit:hover i {
    transform: scale(1.3);
}

section .data-content .controls .edit:hover {
    color: #ea0000;
}

section .data-content .controls a {
    position: relative;
    z-index: 20;
}

/**
 * Admin Users@Admin
 */

section .datas.admins .name,
section .datas.admins .email {
    width: 35%;
}